"typer",
"rich",
"shellingham",
"python-dotenv",
"onnxruntime-gpu",
"numpy",
"pandas",
"torch",
"pillow",
"einops",
"torchvision",
"opencv-python"
"flash-attn --no-build-isolation"
"timm"
"transformers",
"gradio"
"huggingface_hub[cli]"